body{
	background-color: #3c3b52 !important;
}
.logo{
	text-align: center;
	color: white;
	font-family: 'Sigmar One', cursive;
}
.logo>img{
	max-width: 90%;
	margin-top: 34px;
	height: 170px;
}
a.logo:hover{
	text-decoration: none;
	color: rgb(10, 21, 136);
}
.login-btn{
	margin-top: 30px;
}
.signup-btn{
	margin-top: 30px;
}
.login-container{
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
input#username{
	color: white;
}
input#password{
	color: white;
}
.waves-effect{
	width: 94%;
}
.form-control-wrapper{
	margin-top: 30px;
}
input.form-control{
	color: white;
}
.btn-submit{
	margin-top: 20px;
}
button.btn.btn-fab.btn-fab-mini.btn-raised.btn-sm.btn-success{
	margin-top: 10px;
	background-color: transparent;
}
.btn-black{
	color: black;
}
.btn-black:hover{
	text-decoration: none;
}
.alternate{
	color: #a5a9ac;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	padding-top: 70px;
	padding: 0 20px;
	text-align: center;
}
.custom-jumbo{
	background-color: #3F3E56;
}
.form-group{
	padding-top: 3px;
}
input#inputEmail{
	text-align:center;
	color: white;
}
input#inputPassword{
	color: white;
	text-align: center;
}
fieldset{
	color: white;
}
button.fullwidth{
	width: 100%;
}
.alternate-text{
	color: white;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}