body{
	background-color: #3c3b52;
}
.logo{
	text-align: center;
	color: white;
	font-family: 'Sigmar One', cursive;
}
.logo>img{
	max-width: 70%;
	margin-top: 34px;
}
a.logo:hover{
	text-decoration: none;
	color: rgb(10, 21, 136);
}
.login-btn{
	margin-top: 30px;
}
.signup-btn{
	margin-top: 30px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}